/webapp/logs
/target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.cache
/java.properties
/problems/target
/webapp/target
/project/target
/project/project/target
/exams
/tasks/target/scala-3.6.4/classes/ArchiveExam$.class
/tasks/target/scala-3.6.4/classes/ArchiveExam$ExamDescription$.class
/tasks/target/scala-3.6.4/classes/ArchiveExam$ExamDescription.class
/tasks/target/scala-3.6.4/classes/ArchiveExam$ProblemDescription$.class
/tasks/target/scala-3.6.4/classes/ArchiveExam$ProblemDescription.class
/tasks/target/scala-3.6.4/classes/ArchiveExam.class
/tasks/target/scala-3.6.4/classes/ArchiveExam.tasty
/tasks/target/scala-3.6.4/classes/Data$.class
/tasks/target/scala-3.6.4/classes/Data.class
/tasks/target/scala-3.6.4/classes/Data.tasty
/tasks/target/scala-3.6.4/classes/GetValidRegisteredStudents$.class
/tasks/target/scala-3.6.4/classes/GetValidRegisteredStudents.class
/tasks/target/scala-3.6.4/classes/GetValidRegisteredStudents.tasty
/tasks/target/scala-3.6.4/classes/GradesToRWTHOnline$.class
/tasks/target/scala-3.6.4/classes/GradesToRWTHOnline.class
/tasks/target/scala-3.6.4/classes/GradesToRWTHOnline.tasty
/tasks/target/scala-3.6.4/classes/TaskGradeEveryone$$anon$1.class
/tasks/target/scala-3.6.4/classes/TaskGradeEveryone$.class
/tasks/target/scala-3.6.4/classes/TaskGradeEveryone.class
/tasks/target/scala-3.6.4/classes/TaskGradeEveryone.tasty
/tasks/target/scala-3.6.4/classes/TaskGradesToRWTHOnline$package$$anon$1.class
/tasks/target/scala-3.6.4/classes/TaskGradesToRWTHOnline$package$.class
/tasks/target/scala-3.6.4/classes/TaskGradesToRWTHOnline$package.class
/tasks/target/scala-3.6.4/classes/TaskGradesToRWTHOnline$package.tasty
/tasks/target/scala-3.6.4/update/update_cache_3/inputs
/tasks/target/scala-3.6.4/update/update_cache_3/output
/tasks/target/streams/_global/_global/_global/streams/out
/tasks/target/streams/_global/csrConfiguration/_global/streams/out
/tasks/target/streams/_global/csrProject/_global/streams/out
/tasks/target/streams/_global/dependencyPositions/_global/streams/update_cache_3/input_dsp
/tasks/target/streams/_global/dependencyPositions/_global/streams/update_cache_3/output_dsp
/tasks/target/streams/_global/ivyConfiguration/_global/streams/out
/tasks/target/streams/_global/ivySbt/_global/streams/out
/tasks/target/streams/_global/moduleSettings/_global/streams/out
/tasks/target/streams/_global/projectDescriptors/_global/streams/out
/tasks/target/streams/_global/update/_global/streams/out
/tasks/target/streams/_global/updateClassifiers/_global/streams/update_cache_3/inputs
/tasks/target/streams/_global/updateClassifiers/_global/streams/update_cache_3/output
/tasks/target/streams/_global/updateClassifiers/_global/streams/out
/tasks/target/streams/compile/externalDependencyClasspath/_global/streams/export
/tasks/target/streams/compile/managedClasspath/_global/streams/export
/tasks/target/streams/compile/scalacOptions/_global/streams/out
/tasks/target/streams/compile/unmanagedClasspath/_global/streams/export
/tasks/target/streams/compile/unmanagedClasspath/_global/streams/out
/tasks/target/streams/compile/unmanagedJars/_global/streams/export
/tasks/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/tasks/target/streams/runtime/managedClasspath/_global/streams/export
/tasks/target/streams/runtime/unmanagedClasspath/_global/streams/export
/tasks/target/streams/runtime/unmanagedClasspath/_global/streams/out
/tasks/target/streams/runtime/unmanagedJars/_global/streams/export
/tasks/target/streams/test/externalDependencyClasspath/_global/streams/export
/tasks/target/streams/test/managedClasspath/_global/streams/export
/tasks/target/streams/test/scalacOptions/_global/streams/out
/tasks/target/streams/test/unmanagedClasspath/_global/streams/export
/tasks/target/streams/test/unmanagedClasspath/_global/streams/out
/tasks/target/streams/test/unmanagedJars/_global/streams/export
