.solution {
  display: block;
}

.solution-explanation {
  background-color: lightgray;
  border: solid gray;
  padding: 0.5em;
}

.solution-grading {
  background-color: lightblue;
  border: solid #4a6fa5;
  padding: 0.5em;
}
